<div class="header">
    <img src="../../../assets/img/logo.png" alt="">
    <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars"></button>
    </div>
</div>

<!-- The AG Grid component -->
<!-- <ag-grid-angular
    class="ag-theme-quartz"
    style="height: 500px;"
    [rowData]="rowData"
    [columnDefs]="colDefs">
</ag-grid-angular> -->

<div class="container">
    <div class="cards" *ngFor="let item of principalMenu">
        <ng-container *ngIf="item.rol === roleUser">
            <p-card header={{item.title}} [style]="{ width: '360px' }">
                <ng-template pTemplate="footer">
                    <p-button
                        label="Ir"
                        icon="pi pi-angle-right"
                        (onClick)="navigateTo(item.path)"></p-button>
                </ng-template>
            </p-card>
        </ng-container>
    </div>
</div>
