<div class="header">
    <img src="../../../assets/img/logo.png" alt="">
    <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <button pButton type="button" (click)="navigateTo()" icon="pi pi-angle-double-left"></button>
    </div>
</div>

<div class="form-wrapper">
    <h1>Creación de proyecto</h1>
    <form
        class="form"
        [formGroup]="formulario">
        <div class="form--inputs">
            <div class="form--inputs-fields">
                <label for="proyecto">Proyecto:</label>
                <input pInputText type="text" id="proyecto" formControlName="project">
            </div>
            <div class="form--inputs-fields">
                <label for="tipoProducto">Tipo de Producto:</label>
                <input  pInputText type="text" id="tipoProducto" formControlName="project_type">
            </div>
        
            <div class="form--inputs-fields">
                <label for="nombreArchivo">Nombre del Archivo:</label>
                <input pInputText type="text" id="nombreArchivo" formControlName="name_file">
            </div>
            <div class="form--text">
                <button pButton type="submit" (click)="submitForm()">Enviar</button>
            </div>
        </div>
    </form>
</div>