<div class="header">
    <img src="../../../assets/img/logo-blanco.webp" alt="applabs">
    <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <button pButton class="p-button-secondary p-button-outlined" type="button" (click)="navigateTo()" icon="pi pi-angle-double-left"></button>
    </div>
</div>

<div class="container">
    <div class="info-container">
        <h1 class="info-container--title">Creación de Ensayo</h1>

        <div class="info-container--items">
            <p-card class="p-card-content">
                <h2>Datos de creación</h2>
                <form
                    class="form"
                    [formGroup]="formulario" (ngSubmit)="submitForm()">
                    <div class="form--inputs">
                        <div class="form--inputs-fields">
                            <label for="proyecto">Proyecto:</label>
                            <input pInputText type="text" id="proyecto" formControlName="project">
                        </div>
                        <div class="form--inputs-fields">
                            <label for="test">Ensayo #</label>
                            <input pInputText type="text" id="id" formControlName="test">
                        </div>
                    </div>
                    <button pButton type="submit" [disabled]="!formulario.valid">Enviar</button>
                </form>
            </p-card>
    
            <p-card class="p-card-content">
                <h2>Lista de proyectos</h2>
                <div class="list-wrapper">
                    <p-listbox
                        [options]="projects"
                        [(ngModel)]="projectSelected"
                        (click)="selectProject()"
                        optionLabel="name">
                    </p-listbox>
                </div>
            </p-card>
        </div>

    </div>


    <div class="tabs-container">
        <p-tabView class="">
            <p-tabPanel header="Formula">
                <app-inventory [showHeader]="false"></app-inventory>
            </p-tabPanel>
            <p-tabPanel header=" + ">
            </p-tabPanel>

        </p-tabView>
    </div>
</div>